src/schema/ApplicantProfile.xsd

<?xml version="1.0"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="applicantProfile">
    <xs:annotation>
      <xs:documentation>To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="personalInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="ssn"/>
              <xs:element type="xs:string" name="personalLetter"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="studyRecord">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="universityName"/>
              <xs:element type="xs:string" name="degree"/>
              <xs:element type="xs:short" name="year"/>
              <xs:element type="xs:byte" name="GPA"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="employmentRecord">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="employment" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="companyId"/>
                    <xs:element type="xs:string" name="companyName"/>
                    <xs:element type="xs:string" name="telephoneNumber"/>
                    <xs:element type="xs:date" name="fromDate"/>
                    <xs:element type="xs:date" name="toDate"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
