src/schema/ShortCV.xsd

<?xml version="1.0"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

  <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="shortCV">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="socialSecurityNumber" name="ssn"/>
        <xs:element type="xs:string" name="personalLetter"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:simpleType name="socialSecurityNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{6}-\d{4}" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
